html {
    background-color: white;
}

h1,h2 {
    text-align: center;
}
#centerblock {
    list-style-type: none;
    font-size: 150%;
    display: inline;
    font-variant: small-caps;
    text-align: center;
    padding: 0;
    margin: 0;
}

#centerblock li {
    display: inline;
    border: none;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

#cblock {
   border: none;
}

#cblock li {
    list-style-position: inside;
    border: none;
    padding: 5px;
    text-align: center;
    text-decoration: none;
}

a:link {
    color: maroon;
}

/* visited link */
a:visited {
    color: darkgreen;
}


/* mouse over link */
a:hover {
    color: #006600;
}

/* selected link */
a:active {
    color: blue;
}

#information {
    font-size: 200%;
    text-align: center;
}

#vanilla {
    font-size: 300%;
    text-align: center;
}

#center {
    font-size: 200%;
    font-variant: small-caps;
    text-align: center;
}

#img {
    display: block;
    margin: auto;
    margin-left: auto;
    margin-right: auto;
}

.column {
    float: left;
    width: 33.33%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  /* Responsive layout - when the screen is less than 600px wide, make the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }

  