html {
    background-color: white;
}

h1,
h2 {
    text-align: center;
}

#centerblock {
    list-style-type: none;
    font-size: 150%;
    display: inline;
    font-variant: small-caps;
    text-align: center;
    padding: 0;
    margin: 0;
}

#centerblock li {
    display: inline;
    border: none;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

a:link {
    color: maroon;
}

/* visited link */
a:visited {
    color: darkgreen;
}

/* mouse over link */
a:hover {
    color: #006600;
}

/* selected link */
a:active {
    color: blue;
}

#information {
    font-size: 200%;
    text-align: center;
}

#vanilla {
    font-size: 300%;
    text-align: center;
}

#center {
    font-size: 200%;
    font-variant: small-caps;
    text-align: center;
}

#img {
    display: block;
    margin: auto;
    margin-left: auto;
    margin-right: auto;
}

#container {
    margin: 0 auto;
    /* This centers the page in modern browsers */
    text-align: left;
    /* This is a hack for older browsers to center the page */
    width: 90%;
    /* This sets our total page width */
}

#content {
    margin-left: 30%;
    margin-right: 30%;
}

#sidebar {
    float: left;
    /* This causes the sidebar to move to the left */
    width: 20%;
    /* We need to set the width whenever we float an element */
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
  }

  .column {
    float: left;
    width: 25%; 
  }

  /* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
} 