html {
    background-color: white;
}

h1,
h2 {
    text-align: center;
}

#centerblock {
    list-style-type: none;
    font-size: 150%;
    display: inline;
    font-variant: small-caps;
    text-align: center;
    padding: 0;
    margin: 0;
}

#centerblock li {
    display: inline;
    border: none;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

a:link {
    color: maroon;
}

/* visited link */
a:visited {
    color: darkgreen;
}

/* mouse over link */
a:hover {
    color: #006600;
}

/* selected link */
a:active {
    color: blue;
}

#vanilla {
    font-size: 300%;
    text-align: center;
}

#center {
    font-size: 200%;
    font-variant: small-caps;
    text-align: center;
}

#img {
    display: block;
    margin: auto;
    margin-left: auto;
    margin-right: auto;
}

.flex-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-content: space-between;
  }

/* Use a media query to add a breakpoint at 800px: */
@media screen and (max-width: 800px) {
    .left, .main, .right {
      width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
    }
  }
